/* You can add global styles to this file, and also import other style files */

body {
    background-color: #121212;
    color: white !important;
}

hr {
    border-color: white;
}

.puntero {
    cursor: pointer;
}

.img-circle {
    border-radius: 100%;
    width: 150px;
}

.card-title,
.card-text {
    color: black;
}


.badge {
    margin-left: 5px;
}

.btn-outline-success {
    margin-left: 5px;
}

.img-thumb {
    width: 50px;
    height: 50px;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

/* Personal Styles */
:root {
    --gray-dark: #121212;
    --gray: #282828;
    --gray-light: #b3b3b3;
    --black: #000;
    --white: #fff;
    --green: #1db954;
    --red: #e61e32;
}

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

body {
    background-color: var(--gray-dark);
    font-size: 14px;
}

.margin-nav {
    margin-top: calc(72px + 1rem);
}

.display {
    display: flex;
    max-width: 100vw;
    flex-wrap: wrap;
    height: var(--vh);
}

.side-navbar {
    width: 230px;
    background-color: var(--black);
    color: var(--gray-light);
    height: calc( var(--vh) - 80px );
}

.spotify-logo {
    width: 130px;
    color: var(--white);
}

.navigation {
    margin: 10px 0;
    padding: 0;

    &__item{
        list-style: none;
        font-weight: 500;
        margin: 0 10px;
    }

    &__link{
        color: inherit;
        text-decoration: none;
        cursor: pointer;
        padding: 10px 15px;
        display: block;
        border-radius: 3px;
        display: flex;
        align-items: center;

        &:hover{
            color: var(--white);
        }
    }
}

.active {
    background-color: var(--gray);
    color: var(--white);
}

.playlist {
    overflow: hidden;

    &__title {
        font-size: .9rem;
    }

    &__list {
        overflow-y: scroll;
    }

    &__link {
        color: var(--gray-light);
        transition: all .2s;

        &-text {
            font-weight: 700;
        }

        &:hover {
            .playlist__add-playlist {
                background-color: var(--white);
            }
        }
    }

    &__add-playlist,
    &__like {
        height: 32px;
        width: 32px;
    }

    &__add-playlist {
        background-color: var(--gray-light);
        color: var(--black);
        transition: all .2s;
    }

    &__like {
        padding: 9px;
        background-color: rebeccapurple;
    }

    &__item {
        list-style: none;
    }
    &__link {
        color: inherit;
        text-decoration: none;
        font-weight: 400;

        &:hover {
            color: var(--white);
        }
    }
}

.usernav {
    color: var(--white);
    align-items: center;
    position: fixed;
    min-height: 69px;
    top: 0;
    right: 17px;
    z-index: 10;
    width: calc(100vw - 232px - 15px);
    transition: background-color .1s;

    &__button{
        background-color: rgba(0,0,0,.7);
        border-radius: 50px;
        padding: 5px;
        width: 32px;
        height: 32px;
        border: none;
        color: inherit;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__search-container {
        position: relative;
    }

    &__input {
        width: 364px;
        border-radius: 20px;
        border: 0;
        padding: 8px 40px;
        outline: none;
    }

    &__search-icon {
        position: absolute;
        color: var(--gray);

        &:first-child {
            left: 10px;
            height: 37px;
        }

        &:last-child {
            right: 0;
        }
    }

    &__user-menu {
        background-color: var(--black);
        border-radius: 50px;
        border: none;
        color: inherit;
        font-weight: 700;
        padding: 1px;
        padding-right: 8px;
        align-items: center;
        position: relative;

        &:hover {
            background-color: var(--gray);
        }
    }

    &__user-img {
        width: 28px;
        height: 28px;
        border-radius: 20px;
    }

    &__play-button {
        background-color: var(--green);
        border: none;
        border-radius: 100px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white);
        transition: transform .1s;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__play-container {
        opacity: 0;
        transition: opacity .3s;
        transition-delay: 0s;
    }

    &__play-artist {
        font-weight: 700;
        font-size: 1.45rem;
    }

    &__user-dropdown {
        background-color: var(--gray);
        width: 180px;
        z-index: 1;

        position: absolute;
        top: 120%;
        right: 0;
        border-radius: 4px;

        &__item {
            list-style: none;

            &:last-child {
                border-top: 1px solid hsla(0,0%,100%,.1);
            }
        }

        &__link {
            font-weight: 500;
            color: var(--gray-light);
            text-decoration: none;
            text-align: left;
            padding: 10px;
            display: block;
            border-radius: 2px;

            &:hover {
                color: var(--white);
                background-color: hsla(0,0%,100%,.1);
            }
        }
    }
}

.main {
    flex-grow: 1;
    width: min-content;
    overflow-y: auto;
    height: calc( var(--vh) - 80px );
    position: relative;

    &-title {
        font-weight: 700;
        font-size: 1.4rem;
    }
}

.home {
    &-link {
        color: var(--gray-light);
        font-weight: 700;
        text-decoration: none;
        font-size: .8rem;

        &:hover {
            color: var(--gray-light);
            text-decoration: underline;
        }
    }
}

.card-group {
    flex-wrap: wrap;
    align-items: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(5,minmax(0, 1fr));
    gap: 20px;
}

.card {
    background-color: #181818;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px;
    height: 100%;
    width: 100%;
    position: relative;

    &-img-top {
        border-radius: 500px;
        box-shadow: 0 0 10px var(--black);
        object-fit: cover;
        position: absolute;
        height: 100%;
    }

    &__img-container {
        width: 100%;
        position: relative;
        
        &::after {
            content: '';
            display: block;
            padding-bottom: 100%;
        }
    }

    &-body {
        position: relative;
    }
    
    &-play {
        box-shadow: 0 0 10px var(--black);
        position: absolute;
        z-index: 1;
        transform: translateY(-25px);
        top: 0;
        right: 10px;
        transition: all .3s;
        opacity: 0;
        width: 40px;
        height: 40px;
    }

    &-title {
        color: var(--white);
        font-weight: 700;
        font-size: 1rem;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &-text {
        color: var(--gray-light);
        font-weight: 500;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &:hover {
        background-color: var(--gray);

        .card-play {
            opacity: 1;
            transform: translateY(-35px);
        }
    }
}


.song {
    
    &__container {
        align-items: center;
        border-radius: 3px;
        position: relative;
        color: var(--gray-light);

        &:hover {
            background-color: var(--gray);
            color: var(--white);

            .song__like,
            .song__menu {
                opacity: 1;
            }

            .song__artist-link {
                color: var(--white);
            }

            .song__img-play {
                opacity: 1;
            }

            .song__order-number {
                opacity: 0;
            }

            .song__order-play {
                opacity: 1;
            }
        }
    }

    &__order {
        position: relative;

        &-number {
            color: var(--gray-light);
            font-weight: 500;
        }

        &-play {
            background-color: transparent;
            border: none;
            position: absolute;
            left: 0;
            right: 0;
            color: var(--gray-light);
            opacity: 0;
            margin: 0 auto;
        }
    }

    &__img {
        height: 2.5rem;
        width:  2.5rem;
        

        &-container{
            border: 0;
            background-color: transparent;
            position: relative;
        }

        &-play {
            opacity: 0;
            color: var(--white);
            top: 0;
            left: 0;
            height: 2.5rem;
            width:  2.5rem;
            background-color: rgba(0,0,0,.5);
            padding: 10px;
            position: absolute;
        }
    }

    &__info {
        width: 40%;
    }

    &__title {
        color: var(--white);
        font-weight: 500;
        font-size: 1rem;
    }

    &__artist {
        &-explicit {
            background-color: var(--gray-light);
            height: .9rem;
            width: .9rem;
            display: inline-block;
            color: var(--gray-dark);
            font-size: .6rem;
            font-weight: 600;
            border-radius: 2px;
            padding: 0 4px;
        }

        &-link {
            color: var(--gray-light);
            text-decoration: none;
            margin-right: 5px;
            font-weight: 500;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__reproductions {
        &-number {
            color: inherit;
            font-size: 500;
        }
    }

    &__time {
        font-weight: 400;
    }

    &__like,
    &__menu {
        background-color: transparent;
        border: none;
        opacity: 0;
    }

    &__like {
        color: var(--green);
    }

    &__menu {
        color: inherit;

        &-dropdown {
            position: absolute;
            right: 10px;
            top: 90%;

            &-list {
                width: 265px;
                background-color: var(--gray);
                margin: 0;
                border-radius: 5px;
            }

            &-item {
                text-align: left;
                list-style: none;
                font-weight: 500;
                color: var(--gray-light);
                border-radius: 2px;
                cursor: pointer;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                    color: var(--white);
                }

                &:first-child,
                &:nth-child(4),
                &:nth-child(6),
                &:nth-child(7) {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                }
            }
        }
    }
}

.dropdown-menu{
    padding: 0;
    margin: 0;
    font-size: .9rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}


.artist {
    &__hero {
        min-height: 340px;
        height: 40vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        &::after {
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(0,0,0,.3);
            z-index: 0;
        }
    }

    &__info {
        position: absolute;
        bottom: 0;
        z-index: 5;

        &-name {
            font-weight: 700;
            font-size: 6rem;
        }

        &-span {
            font-size: 1rem;
            font-weight: 400;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        position: relative;

        &-playbutton {
            height: 65px;
            width: 65px;
        }

        &-followbutton {
            background-color: transparent;
            border: 1px solid var(--gray);
            border-radius: 4px;
            color: inherit;
            font-weight: 600;
            font-size: .9rem;

            &:hover {
                border: 1px solid var(--white);
            }
        }

        &-dropdownbutton {
            background-color: transparent;
            border: none;
            color: var(--gray-light);

            &:hover {
                color: var(--white);
            }
        }
    }

    &__bio {
        &-container {
            height: 32rem;
            max-width: 45rem;
            border-radius: 8px;
            border: none;
            background-image: url('https://i.scdn.co/image/8a411fc8bbaad2768ec2c16462000ee852659e80');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            color: inherit;
            text-align: left;
            justify-content: flex-end;
            font-size: 1rem;
            font-weight: 500;
            transition: transform .5s;
    
            &::after {
                content: '';
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-color: rgba(0,0,0,.3);
                border-radius: inherit;
                z-index: 0;
            }

            &:hover {
                transform: scale(1.008);
            }

        }

        &-text {
            position: relative;
            z-index: 1;
            width: 85%;
        }

        &-info {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    &__calender {
        width: 45%;
        min-width: 450px;
        &-link {
            color: inherit;
            text-decoration: none;
            
            &:hover {
                color: inherit;
            }
        }

        &-title {
            font-size: 1.1rem;
        }
    }
}

.dropdown-artist {
    top: 110%;

    &__item {
        &:nth-child(1),
        &:nth-child(4) {
            border-bottom: none;
        }

        &:nth-child(3) {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
    }
}

.calender-graphic {
    width: 4.9rem;
    height: 4.9rem;
    font-weight: 700;
    border-radius: 10px;
    object-fit: cover;

    &__month {
        background-color: var(--red);
    }

    &__day {
        background-color: var(--white);
        color: var(--black);
        font-size: 2.1rem;
        flex-grow: 1;
    }
}

/* Player Layout */
.player{
    height: 80px;
    width: 100vw;
    background-color: var(--gray);
    padding: 14px 0;

    &__section {
        &:nth-child(1),
        &:nth-child(3) {
            width: 30%;
        }
    
        &:nth-child(2) {
            width: 40%;
        }
    }

    &__song {
        justify-content: flex-start;

        &-link {
            position: relative;
            display: inline-block;
            height: 100%;
            min-width: 0;
            flex-shrink: 1;

            &:hover {
                .player__song-expandbutton {
                    opacity: 1;
                }
            }
        }

        &-img {
            height: 100%;
        }

        &-expandbutton {
            position: absolute;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 100px;
            background-color: rgba(0,0,0,.7);
            color: var(--gray-light);
            border: none;
            left: 5px;
            top: 5px;
            opacity: 0;

            &:hover {
                color: var(--white);
                transform: scale(1.1);
            }
        }

        &-name,
        &-artist {
            text-decoration: none;
            color: var(--white);
            font-size: .9rem;

            &:hover {
                text-decoration: underline;
                color: var(--white);
            }
        }

        &-artist {
            color: var(--gray-light);
            font-size: .75rem;

            &:hover {
                color: var(--white);
            }
        }

        &-like {
            background-color: transparent;
            border: none;
            color: var(--green);
        }

        &-aspect {
            border: none;
            background-color: transparent;
            color: var(--gray-light);

            &:hover {
                color: var(--white);
            }
        }
    }

    &__control {
        &-button {
            background-color: transparent;
            border: none;
            color: var(--gray-light);
            margin: 0 7px;

            &-play {
                transition: transform .15s;

                &:hover {
                    transform: scale(1.05);
                }
            }

            &:hover {
                color: var(--white);
            }
        }

        &-time {
            font-size: .75rem;
            color: var(--gray-light);
        }

        &-progress {
            height: 3px;
            border-radius: 10px;
            flex-grow: 1;
            background-color: var(--gray-light);
        }
    }

    &__device {
        &-button {
            background-color: transparent;
            border: none;
            color: var(--gray-light);

            &:hover {
                color: var(--white);
            }
        }

        &-volumen {
            height: 3px;
            border-radius: 10px;
            width: 25%;
            background-color: var(--green);
        }
    }
}

.scrolled {
    .usernav {
        background-color: #070707;

        &__play-container {
            opacity: 1;
            transition: opacity .3s;
            transition-delay: .1s;
        }
    }
}

.usernav__page {
    &-artist {
        .usernav__search-container {
            display: none;
        }
    }

    &-home {
        .usernav__search-container,
        .usernav__play-container {
            display: none !important;
        }
    }

    &-search {
        .usernav__play-container {
            display: none !important;
        }
    }
}